/* ********** VARIABLES ********** */
:root {
    --violet: #9792e4;
}


/* ********** RESET ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px dashed black;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/* ********** HEADER ********** */
header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}

/* Menu with links */
.menu {
    display: none;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }

    .hamburger {
        display: none;
    }

    /* Menu with links */
    .menu {
        display: block;
    }

    .menu ul {
        gap: 1rem;
    }
}

/* ********** MAIN ********** */
/* ----- Jumbotron ----- */
.jumbotron {
    padding: 8rem 0 4rem;
}

.jumbo-card {
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 1rem;
    text-align: center;
    /* debug */
    min-height: 200px;
    border: 1px solid black;
}

.demo-application {
    /* debug */
    min-height: 400px;
}

/* * Tablet layout * */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .jumbo-card {
        width: calc(100% / 3 - (10px));
    }

    .demo-application {
        width: calc(100% - (100% / 3));
    }

}

/* ----- Strategic planning section ----- */
.strategic-planning {
    background-color: var(--violet);
    padding: 3rem 0;
    /* debug */
    min-height: 500px;
}

.planning-card {
    background-color: white;
    border-radius: 50px;
    text-align: center;

    /* debug */
    min-height: 200px;
}

/*  * Desktop layout * */
@media screen and (min-width: 992px) {
    .strategic-planning {
        padding: 5rem 0 3rem;
    }

    .strategic-planning .container {
        width: 50%;
    }

    .planning-section {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 3rem;
    }

    .planning-section > div {
        width: calc(100% / 2 - (3rem / 2));
    }

    .planning img {
        width: 320px;
    }

    .planning-card img {
        width: 200px;
    }
}

/* ----- Testimonials section ----- */
.testimonials {
    padding: 3rem 0;
    text-align: center;
}

.testimonials-card {
    background-color: var(--violet);
    border-radius: 50px;
    text-align: center;
    margin-bottom: 2rem;
    /* debug */
    min-height: 300px;
}