/* ********** VARIABLES ********** */
:root {
    --blue: #0084fd;
    --violet: #9792e4;
    --footer-grey: #333333;
    --light-blue: #b5ddff;
}


/* ********** RESET ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ********** GENERAL ********** */
body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
    border: 1px dashed black;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.user-rounded {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

/* Buttons */
.button {
    display: inline;
    border-radius: 100px;
}

.white-button {
    background-color: white;
    color: black;
}

.blue-button {
    background-color: var(--blue);
    color: white;
}

.violet-button {
    background-color: var(--violet);
    color: white;
}

/* ********** HEADER ********** */
header {
    background-color: var(--blue);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}

.hamburger button {
    border: none;
    background-color: var(--blue);
    color: white;
}

/* Menu with links */
.menu {
    display: none;
    color: white;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu .button {
    padding: 5px 15px;
    font-size: 1.2rem;
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
    }

    .hamburger {
        display: none;
    }

    /* Menu with links */
    .menu {
        display: block;
    }

    .menu ul {
        gap: 2rem;
    }
}

/* ********** MAIN ********** */
/* ----- Jumbotron ----- */
.features-section {
    padding: 8rem 0 4rem;
}

/* Card */
.features-card {
    background-color: var(--light-blue);
    border-radius: 20px;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1.5rem;
}

.features-card .card h2 {
    color: var(--blue);
    font-size: 1.4rem;
    margin: 1.5rem 0;
}

.features-card p {
    line-height: 1.6rem;
}

.features-card i {
    color: var(--blue);
}

/* Demo apllication card */
.demo-application {
    padding: 1.5rem 1.5rem 0;
    text-align: left;
}

.demo-application p {
    margin-bottom: 2rem;
}

.demo-application .button {
    padding: 8px 40px;
}

.demo-application img {
    display: block;
    margin-top: 2rem;
}

.demo-application i {
    color: white;
}

/* * Tablet layout * */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .features-card {
        width: calc(100% / 3 - (20px / 3));
    }

    .demo-application {
        width: calc(100% - (100% / 3) - (10px / 2));
    }
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .demo-application .card {
        display: flex;
    }
}

/* ----- Strategic planning section ----- */
.strategic-planning {
    background-color: var(--violet);
    padding: 3rem 0;
}

/* Strategic planning */
.planning {
    color: white;
    margin-bottom: 2rem;
}

.planning h2 {
    margin: 3rem 0;
    font-size: 2rem;
}

.planning p {
    line-height: 2rem;
}

/* Card inside the section */
.planning-card {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    padding: 2rem 1rem;
}

.planning-card h2 {
    margin: 1.5rem 0;
}

.planning-card p {
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.download-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--violet);
    line-height: 50px;
    text-align: center;
}

.download-button a {
    color: inherit;
}

/*  * Desktop layout * */
@media screen and (min-width: 992px) {
    .strategic-planning {
        padding: 5rem 0 3rem;
    }

    .strategic-planning .container {
        width: 50%;
    }

    .planning-section {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 3rem;
    }

    .planning-section > div {
        width: calc(100% / 2 - (3rem / 2));
    }

    .planning img {
        width: 320px;
    }

    .planning-card img {
        width: 200px;
    }
}

/* ----- Testimonials section ----- */
.testimonials {
    padding: 3rem 0;
    text-align: center;
}

.testimonials-card {
    background-color: var(--violet);
    border-radius: 50px;
    text-align: center;
    margin-bottom: 2rem;
    /* debug */
    min-height: 300px;
}

/* ----- Benefits section ----- */
.benefits-section {
    background-color: var(--violet);
    text-align: center;
    padding: 4rem 0 3rem;
}

.benefits-card {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2rem;
    /* debug */
    min-height: 300px;
}

/* * Tablet layout * */
@media screen and (min-width: 768px) {
    .benefits {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .benefits-card {
        width: calc(100% / 2 - (2rem / 2));
        margin-bottom: 0;
    }
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .benefits-card {
        width: calc(100% / 3 - (4rem / 3));
    }
}

/* ----- About us section ----- */
.about-us-section {
    padding: 5rem 0 3rem;
}

.about-us-paragraph p {
    margin-bottom: 3rem;
}

.about-us-paragraph, .about-us-image {
    /* debug */
    border: 1px solid black;
}

/* * Tablet layout * */
@media screen and (min-width: 768px) {
    .about-us {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 0 2rem;
    }

    .about-us-paragraph {
        width: calc(60% - (3rem / 2));
    }

    .about-us-image {
        width: calc(40% - (3rem / 2));
    }
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .about-us-paragraph {
        width: calc(70% - (3rem / 2));
    }

    .about-us-image {
        width: calc(30% - (3rem / 2));
    }
}

/* ----- Call to action ----- */
.call-to-action {
    background-color: var(--violet);
    padding: 4rem 0;
    /* debug */
    min-height: 400px;
}

.cta {
    padding: 0 1rem;
    /* debug */
    min-height: 300px;
    background-color: coral;
}

/* * Tablet layout * */
@media screen and (min-width: 768px) {
    .call-to-action .container {
        width: 60%;
    }
}

/* * Desktop layout * */
@media screen and (min-width: 992px) {
    .call-to-action {
        padding: 3rem 0;
    }

    .call-to-action .container {
        width: 40%;
    }
}

/* ********** FOOTER ********** */
footer {
    background-color: var(--footer-grey);
    text-align: center;
    color: white;
    padding: 2rem 0;
    /* debug */
    min-height: 200px;
}